<div class="container mt-3">
  <div class="col-md-3 mx-auto">
    {{#each errors.errors}}
        {{>errors}}
    {{/each}}
    <div class="card bg-primary text-white">
      <div class="card-header display-5 text-center">Edit contact</div>
      <div class="card-body">
        <form
          action="/contacts/edit/{{{contact._id}}}?_method=PUT"
          method="POST"
        >
          <input type="hidden" name="_method" />
          <div>
            <label class="form-label" for="name">Name</label>
            <input
              class="form-control"
              name="name"
              value="{{{contact.name}}}"
              type="text"
            />
          </div>
          <div>
            <label class="form-label" for="surname">Surame</label>
            <input
              class="form-control"
              name="surname"
              value="{{{contact.surname}}}"
            />
          </div>
          <div>
            <label class="form-label" for="email">Email</label>
            <input
              class="form-control"
              name="email"
              value="{{{contact.email}}}"
            />
          </div>
          <div>
            <label class="form-label" for="phone">Phone</label>
            <input
              class="form-control"
              name="phone"
              value="{{{contact.phone}}}"
            />
          </div>
          <div class="d-grid mt-2 gap-2">
            <button type="submit" class="btn btn-success"><i
                class="fas fa-save"
              ></i>
              Save</button>
            <a class="btn btn-secondary" href="/contacts"><i
                class="fas fa-ban"
              ></i>
              Cancel</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>